<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CryptoApp{% endblock %}</title>
    <style>

        .content-wrapper {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/options">Back to options</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block content %}
        <div class="content-wrapper">

        </div>
    {% endblock %}
</main>

<footer>
    &copy; 2024 CryptoApp. All rights reserved.
</footer>
</body>
</html>

