{% extends 'base.twig' %}

{% block content %}
    <h1>Currency Information</h1>

    <p>Name: {{ cryptoData.name }}</p>
    <p>Symbol: {{ cryptoData.symbol }}</p>
    <p>Price: ${{ cryptoData.price }}</p>
    <p>Rank: {{ cryptoData.rank }}</p>
{% endblock %}


