
    <h1>Welcome to CryptoApp!</h1>

    <p>This is the homepage of CryptoApp. Explore the following options:</p>

    <ul>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
    </ul>

