
{% extends 'base.twig' %}

{% block title %}Search Cryptocurrency - CryptoApp{% endblock %}

{% block content %}
    <h1>Search Cryptocurrency</h1>
    <p>Enter the symbol of the cryptocurrency you want to search for:</p>
    <form action="/search-currency" method="POST">
        <input type="text" name="symbol" placeholder="Enter symbol" required>
        <button type="submit">Search</button>
    </form>
{% endblock %}






