{% extends 'base.twig' %}

{% block title %}Your Transactions - CryptoApp{% endblock %}

{% block content %}
<body>
<h1>Top Cryptocurrencies</h1>
<table border="1">
    <thead>
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    {% for crypto in topCryptos %}
        <tr>
            <td>{{ crypto.rank }}</td>
            <td>{{ crypto.name }}</td>
            <td>{{ crypto.symbol }}</td>
            <td>{{ crypto.price }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
{% endblock %}
