<!DOCTYPE html>
<html>
<head>
    <title>User Register Success</title>
</head>
<body>
<h1>{{ message }}</h1>
<p>Please <a href="/login">log in</a> to authorize your account and access the features of CryptoApp application.</p>
<p><a href="/">Return to Home Page</a></p>
</body>
</html>
