<!DOCTYPE html>
<html>
<head>
    <title>User Login Success</title>
</head>
<body>
<h1>{{ message }}</h1>
<p>Welcome, {{ user.getUsername() }}!</p>

<p>This is Your profile of CryptoApp. Explore the following options:</p>

<li><a href="/top-currencies">Top Currencies</a></li>
<li><a href="/search-currency">Search Currency (e.g., BTC)</a></li>
<li><a href="/buy">Buy Cryptocurrency</a></li>
<li><a href="/sell">Sell Cryptocurrency</a></li>
<li><a href="/transactions">View Transactions</a>
<li><a href="/wallet">View Wallet</a></li>
<li><a href="/logout">Logout</a></li>


</body>
</html>
