{# UserLogout.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Logout</title>
</head>
<body>
<h1>User Logout Page</h1>
<p>{{ username }} {{ message }}</p>
</body>
</html>

